:root {
  --rotation: 0, 0, 0, 0deg;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 12px;
  background-color: #212121;
  color: #ccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: radial-gradient(rgb(46, 112, 254), rgb(70, 128, 244));
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 560px;
  width: 560px;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  perspective: 1000px;
}

.box {
  height: 250px;
  width: 250px;
  top: 100px;
  left: 100px;
  transform-style: preserve-3d;
  transform: rotate3d(var(--rotation));
  transition: all 1s;
  z-index: 999;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 250px;
  background-color: rgb(19, 19, 18);
  border: 1px solid gold;
  box-sizing: border-box;
  position: absolute;
  transition: all 1s;
}

.card:hover {
  cursor: default;
}

#front {
  transform: translateZ(125px);
}

#back {
  transform: translateZ(-125px) rotateX(180deg);
}

#left {
  right: 125px;
  transform: rotateY(-90deg);
}

#right {
  left: 125px;
  transform: rotateY(90deg);
}

#top {
  bottom: 125px;
  transform: rotateX(90deg);
}

#bottom {
  top: 125px;
  transform: rotateX(-90deg);

  transform-style: preserve-3d;
}

#selected {
  transform: translateZ(200px);
  border: 3px dotted rgb(234, 232, 232);
  cursor: pointer;
}

/* CONTROLS */
.Xcontrols {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.Ycontrols {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

button {
  min-width: 50px;
  height: 50px;
  bottom: 20px;
  border-radius: 8px;
}

.arrowControlsX {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: default;
}

.arrowControlsY {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  cursor: default;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
}

.hint {
  position: absolute;
  top: 0;
  left: 0;
}

/* PROJECTS */
.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 93%;
  width: 93%;
  background-color: rgb(255, 105, 180);
  border: 1px solid gold;
  box-sizing: border-box;
  position: absolute;
  transform: translateZ(0px);
  transition: 1s all;
}

.projectsContainer header {
  color: aliceblue;
  font-weight: 666;
  border-bottom: 1px solid white;
  padding: 6px 0%;
  margin: 6px 0%;
}

.projectsList {
  flex: 11;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.projectItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 35px;
  background-color: greenyellow;
  color: #212121;
  border: 1px solid #212121;
  margin: 8px;
}

.projectItem:hover {
  background-color: aquamarine;
  cursor: pointer;
}

/* SKILLS */

.skillsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 6px;
  background-color: #5d02b7;
}

.skillsContainer header {
  font-size: 0.7rem;
  text-align: end;
  border-bottom: 1px salmon double;
}

.skillsList {
  font-size: 0.9rem;
}

.skill {
  flex: 1;
  margin: 1% 0%;
}

.languages span {
  color: #2d7dd2;
}

.frameworks span {
  color: #97cc04;
}

.libraries span {
  color: #eeb902;
}

.tools span {
  color: #f45d01;
}

.deployments span {
  color: #c506c5;
}

.skillType {
  font-weight: 666;
}

/* ABOUT */

.aboutContainer {
  width: 100%;
  height: 100%;
  padding: 8px;
  background-color: rgba(64, 118, 118, 0.202);
  color: rgb(70, 128, 244);
}

.aboutContainer {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.aboutContainer h3 {
  align-self: flex-start;
}

.aboutLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.userImgContainer {
  width: 80%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.aboutRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.motto {
  height: 40%;
  flex: 1;
}

.info {
  height: 60%;
  display: flex;
  flex-direction: column;
}

/* SOCIALS */

.socialsContainer {
  background-color: rgb(148, 193, 60);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 20%;
}

.socialLink {
  display: flex;
  padding: 2%;
  margin: 5%;
}