:root {
  --rotation: 0, 0, 0, 0deg;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 12px;
  background-color: #212121;
  color: #ccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: radial-gradient(rgb(46, 112, 254), rgb(70, 128, 244));
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 50vw;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  perspective: 1000px;
}

.box {
  height: 250px;
  width: 250px;
  top: 100px;
  left: 100px;
  transform-style: preserve-3d;
  transform: rotate3d(var(--rotation));
  transition: all 1s;
  z-index: 999;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 250px;
  background-color: rgb(19, 19, 18);
  border: 1px solid gold;
  box-sizing: border-box;
  position: absolute;
  transition: all 1s;
}

.card:hover {
  cursor: default;
}

#front {
  transform: translateZ(125px);
}

#back {
  transform: translateZ(-125px) rotateY(180deg);
}

#left {
  right: 125px;
  transform: rotateY(-90deg);
}

#right {
  left: 125px;
  transform: rotateY(90deg);
}

#top {
  bottom: 125px;
  transform: rotateX(90deg);
}

#bottom {
  top: 125px;
  transform: rotateX(-90deg);
}

#selected {
  transform: translateZ(100px);
  background-color: rgb(162, 44, 44);
  cursor: pointer;
}

.Xcontrols {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.Ycontrols {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

button {
  min-width: 50px;
  height: 50px;
  bottom: 20px;
  border-radius: 8px;
}

.arrowControlsX {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: default;
}

.arrowControlsY {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  cursor: default;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
}

.hint {
  position: absolute;
  top: 0;
  left: 0;
}

/* PROJECTS */
.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 93%;
  width: 93%;
  background-color: hotpink;
}

.projectsContainer header {
  color: aliceblue;
  font-weight: 666;
  border-bottom: 1px solid white;
  padding: 6px 0%;
  margin: 6px 0%;
}

.projectsList {
  flex: 11;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.projectItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 35px;
  background-color: greenyellow;
  color: #212121;
  border: 1px solid #212121;
  margin: 8px;
}

.projectItem:hover {
  background-color: aquamarine;
  cursor: pointer;
}
